<!DOCTYPE html>
<html>
<head>
	<title>Traound Designs</title>
	<link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel = "stylesheet" type = "text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<link href = "stylesheets/again.css" rel = "stylesheet" type = "text/css">
<body>

<div class = "header">

<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">HOME</a>
  
 <div>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about_us">About Us<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#our_work">Our Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
    </ul>
  </div>
  
  <div class = "ml-auto">
  	<a href = "#"><i  class="fab fa-facebook-f"></i></a>
  	<a href = "#"><i  class="fab fa-twitter"></i></a>
  	<a href = "#"><i  class="fab fa-instagram"></i></a>
  </div>
</nav>

<div class = "text-center">

<h1 class = "header_margin">Welcome To Traound Designs!</h1>

</div>

</div>







<div class = "row section_about">

<div class = "col-md-6 my-auto text-center" name = "about_us">

<h3>
	About Us
</h3>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>

<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

</div>

<div class = "col-md-6 my-auto slogan">
	<h1>sustainable. recyclable. organic.</h1>
</div>

</div>

<div class = "text-center section" name = "our_work">
<h3>Our Work</h3>


<div class = "row text-center">
	
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/outside.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/triange.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/baby.jpeg" alt = "outside"   width = "465" height = "465">
</div>

</div>

<div class = "row text-center">
	
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/about_us.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/adventure.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/basket.jpeg" alt = "outside"   width = "465" height = "465">
</div>

</div>

<div class = "row text-center">
	
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/chinese.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/pool.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/couch.jpeg" alt = "outside"   width = "465" height = "465">
</div>

</div>

<div class = "row text-center">
	
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/dining.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/book.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/coffee.jpeg" alt = "outside"   width = "465" height = "465">
</div>

</div>

<div class = "row text-center">
	
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/drink.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/french.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/kitchen.jpeg" alt = "outside"   width = "465" height = "465">
</div>

</div>

<div class = "row text-center">
	
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/mac.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/park.jpeg" alt = "outside"  width = "465" height = "465">
</div>
<div class = "col-md-4 hovereffect">
	<img src = "stylesheets/school.jpeg" alt = "outside"   width = "465" height = "465">
</div>

</div>


</div>



<div class = "row text-center">



<div class ="col-md-6 ok_contact"  name = "contact">

<h3>Contact</h3>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label> 
  </div>
  <div>
  	<input class = "cow_1" type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
  </div>
  <div class="form-group space">
    <label for="exampleInputEmail1">Email address</label> 
  </div>
  <div>
  	<input class = "cow_1" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group space">
    <label for="exampleInputPassword1">Message</label>
  </div>
  <div>
  	<textarea class = "cow_2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Message"></textarea>
  </div>
  
  <button type="submit" class="btn btn-danger">Submit</button>
</form>

</div>
<div class = "col-md-6 my-auto">
<div class = "col-md bird apple">
	<a href = ""><i class="fab fa-facebook-f"></i></a>
  	<a href = ""><i class="fab fa-twitter"></i></a>
  	<a href = ""><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>

<footer>
	
	<div class = "row footer_final">
		<div class = "col-md space_footer"></div>
		<div class = "col-md space_footer">
			<a href = "#"><h6>Company</h6></a>
			
				<a href = "#about_us"><li>About Us</li></a>
				<a href = "#our_work"><li>Our Work</li></a>
				<a href = "#contact"><li>Contact</li></a>
			
		</div>
		<div class = "col-md space_footer">
			<a href = "#"><h6>News</h6></a>
			<a href = "#"><li>Save Rhinos</li></a>
			<a href = "#"><li>Port Elizabeth Saves Water</li></a>
			<a href = "#"><li>Vegan Restaurants in EC</li></a>
		</div>
		<div class = "col-md space_footer">
			<a href = "#"><h6>Charity</h6></a>
			<a href = "#"><li>GHF Kidz</li></a>
			<a href = "#"><li>Rhino Helped</li></a>
			<a href = "#"><li>Rhodes Foundation</li></a>
		</div>
		<div class = "col-md space_footer">
			<a href = "#"><h6>Get Involved</h6></a>
			<a href = "#"><li>22nd July - 15km Fun Run ...</li></a>
			<a href = "#"><li>07 August - Pick Up Tr...</li></a>
			<a href = "#"><li>Donate R5 to Children's F...</li></a>
		</div>
		<div class = "col-md"></div>
	</div>

</footer>


<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src = "stylesheets/ok.js"></script> 



</body>
</html>